<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <title>Default Title</title>
</head>
<body>
<!--语言下拉框-->
<section layout:fragment="content">
    <p>Page Content goes here</p>
</section>
<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
</body>
</html>