body{
	margin: 0;
	padding: 0;
	background-color: #f7fafc;
	font: normal 100% Helvetica, Arial, sans-serif;
}
.index-main{
	padding: 0;
    min-height: 100%;
    margin: 0 auto;
    width: 300px;
}
.logo{
	margin-top: 88px ;
	padding: 0;
	text-align: center;
}
.logo h1{
	margin: 0;
	font-size: 69px;/*<!--69px-->*/
	font-family: "微软雅黑";
	color: #0f88eb;
}
.logo h2{
	margin: 20px 0;
	font-size: 18px;
	font-weight: 500;
	color: #606060;
}
.loginchoice{
	margin-top: 25px;
	font-family: "微软雅黑";
	height: 44px;
	text-align: center;
	color: #9b9b9b;
	transition: opacity .15s,color .15s;
}
.loginchoice a{
	margin-left: 11px;
	margin-right: 11px;
	color: #898a8b;
	padding-bottom: 3px;
}
.loginchoice a:link{
	text-decoration: none;
}
.loginchoice a:active{
	color: #9b9b9b;
}
.loginchoice a:hover{
	color: #0f88eb;
	margin-bottom: 3px;
	border-bottom: 2px double #0f88eb;
}
.login_box{
	margin: 0 auto 20px;
	width: 290px;
}
.login_box input{
	border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    width: 264px;
    height: 14px;
    padding: 14px 11px;
    outline:medium;
}
.user{
	/*padding-top: 1px;*/
	/*padding-left: 1px;*/
	padding: 1px;
	background-color: #ffffff;
	border-top: 1.2px solid #e2e2e2;
	border-left: 1.2px solid #e2e2e2;
	border-right: 1.2px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#userphone{
	display: none;
}
.pass_word{
	padding-bottom: 1px;
	padding-left: 1px;
	background-color: #ffffff;
	border-right: 1.2px solid #e2e2e2;
	border-left: 1.2px solid #e2e2e2;
	border-bottom: 1.2px solid #e2e2e2;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.verification_code{
	display: none;
}
.verification_code input{
	width: 178px;
}
.verification_code button{
	float: right;
	background-color: #ffffff;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #0f88eb;
    font-size: 14px;
    border-left:0.5px solid #e2e2e2;
    cursor: pointer;
}
#PhoneAndVerificationCode{
	display: none;
}
.submit_button{
	margin: 0 auto 18px;
	width: 290px;
}
.sign_button{
	width: 100%;
	background: #0f88eb;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #fff;
    font-size: 14px;
}
.submit_button button:hover{
	background-color: #0fa8ff;
	cursor: pointer;
}
.Other_options{
	margin: 0 auto;
	font-size: 12px;
	padding: 5px;
	height: 16px;
	width: 290px;
}
#remember{
	float: left;
	margin-left: 0;
	cursor: crosshair;
}
.Other_options span{
	display: block;
	margin-top: 0.5px;
	color: #898a8b;
}
.Other_options a{
	float: right;
	text-decoration: none;
	color: #898a8b;
}
