body{
	margin: 0;
	padding: 0;
	background-color: #f7fafc;
}
a:link{
	text-decoration: none;
}
a:active{
	color: #9b9b9b;
}
a:visited{
	color: #9B9B9B;
}
a:hover{
	color: #0f88eb;
	margin-bottom: 3px;
	border-bottom: 2px double #0f88eb;
}